@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,400;0,700;1,400&display=swap');

 /*------------- Whole Document---------------- */
body {
    font-family: 'Raleway', sans-serif;
    font-size: 17px;
}

/*----------------ADDING WHITE SPACE-------------*/
.title {
  margin-top: 2.75em !important;
  margin-bottom: 0.75em;
}

h1, h2, h3 {
  color:#0a6bcc;
  margin-top: 1.5em !important;
  margin-bottom: 0.75em;
}

/*------------Table of Contents (TOC)----------- */
.tocify {
  border: none;   /*Removes border */
  border-radius: 0px; /* Gets rid of rounded corners on TOC */
  font-size: 16px;
}

.tocify ul, .tocify li { /* Increases spacing between TOC headers*/
    line-height: 25px !important;
}

.tocify ul {
  border-right: solid 1px #eee; /* Thin right border on TOC list */
}

/*----------LOGO above TOC---------*/
#TOC::before {
  content: "";
  display: block;
  height: 100px;
  margin: 2.75em 10px 10px 10px;
  background-image: url("img/Logo.jpg");
  background-size: contain;
  background-position: center center;
  background-repeat: no-repeat;
}

/*---------- LOGO IN TOPRIGHT ---------*/
#header.fluid-row::before {
   content: "";
   height: 150px;
   width: 150px;
   float: right;
   background-image: url("img/Logo.jpg");
   background-size: contain;
   background-position: center center;
   background-repeat: no-repeat;
 }

/* Space Between TOC and
Righthand side content on large screens */
@media (min-width: 992px) {
    .col-md-9 {
      width: 75%;
      padding-left: 5em !important;
    }
 }

/* Remove excessive white space at the end of page */
.tocify-extend-page {
  height: 100px !important;
}


/* -----------HERO IMAGE AT TOP OF PAGE -----------*/
/* LARGE HERO IMAGE AT TOP OF PAGE*/
.hero-image {
    position: relative;
    margin-bottom: 2em;
    /* liner gradient tints the image darker for readability*/
    background-image: linear-gradient( rgba(0,0,0,.2), rgba(0,0,0,.2) ), url(img/unsplash.jpg);
    height: 400px;
    background-size: cover;
    background-color: #141c25f2;
    background-position: center center;
    display: flex; /* Change to `display: none` for no hero image */
    justify-content: center;
    align-items: center;
}

.top-text {
  position: relative;
  font-size: 34px;
  padding-bottom: 0.5em
  text-transform: uppercase;
  text-align: center;
  display: block; /* Change to `display: none` for no top text */
  color: #ffffff72;
}

.bottom-text {
  position: relative;
  letter-spacing: 0.065em;
  line-height: 1em;
  font-size: 68px;
  text-transform: uppercase;
  text-align: center;
  display: block; /* Change to `display: none` for no bottom text */
  color: #ffffff;
  margin-bottom: 2.5rem;
  font-weight: bold;
}